---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Divider from "@components/ui/divider.astro";
---

<Layout title="Bibliografía">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Bibliografía</Fragment>
      <Fragment slot="desc">
        Encuentre acá todos los recursos bibliográficos utilizados.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-screen-xl mt-10">
      <Divider />
      <div class="flex flex-wrap gap-y-5 justify-evenly mt-5">
        <a
          target="_blank"
          href="https://repository.unab.edu.co/bitstream/handle/20.500.12749/12464/2012_Proyecto_Educativo_Institucional_PEI_UNAB.pdf?sequence=1&isAllowed=y"
          class="block w-80 p-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-400">
          <h5
            class="text-lg tracking-tight text-gray-900 text-center justify-items-center">
            Proyecto educativo institucional
          </h5>
        </a>
        <a
          target="_blank"
          href="https://repensarlafilosofiaenelipn.files.wordpress.com/2015/11/martha-nussbaum-sin-finesde-lucro.pdf"
          class="block w-80 p-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-400">
          <h5 class="text-lg tracking-tight text-gray-900 text-center">
            Sin fines de lucro de Martha Nussbaum
          </h5>
        </a>
        <a
          target="_blank"
          href="http://www.razonypalabra.org.mx/anteriores/n57/scorrales.html#:~:text=Crear%20el%20espacio%20latinoamericano%20de,bien%20p%C3%BAblico%20con%20responsabilidad%20social%20"
          class="block w-80 p-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-400">
          <h5 class="text-lg tracking-tight text-gray-900 text-center">
            La Misión de la Universidad en el Siglo XXI
          </h5>
        </a>
        <a
          target="_blank"
          href="https://www.iesalc.unesco.org/ess/index.php/ess3/article/view/121"
          class="block w-80 p-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-400">
          <h5 class="text-lg tracking-tight text-gray-900 text-center">
            Integración, Docencia, Extensión e Invetigación
          </h5>
        </a>
      </div>
    </div>
  </Container>
</Layout>
