---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Divider from "@components/ui/divider.astro";
import List from "@components/ui/list.vue";
import { challenges } from "@content/_listContent";
---

<Layout title="Retos de la U">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Retos de la U</Fragment>
      <Fragment slot="desc">
        Veremos algunos de los retos que afrontan la instituciones educativas y
        como se podrian afrontar.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-screen-xl mt-10 space-y-10">
      <Divider />
      <div class="flex flex-col space-y-3">
        <h2 class="font-bold text-2xl text-gray-700 text-center">
          Obstáculos que impiden a las universidades cumplir sus misiones
        </h2>
        <p class="text-lg leading-relaxed text-slate-600 text-justify">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
          nostrum beatae accusantium dolorem a. Sunt tenetur iste dolores quod!
          Sapiente!
        </p>
      </div>

      <Divider />
      <div class="flex flex-col space-y-10">
        <h2 class="font-bold text-2xl text-gray-700 text-center">
          Retos que debe emprender la universidad para cumplir su misión
        </h2>

        <List arrayToDisplay={challenges} />
      </div>
    </div>
  </Container>
</Layout>
