---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Divider from "@components/ui/divider.astro";
---

<Layout title="Educación">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Educación</Fragment>
      <Fragment slot="desc">
        ¿Como puede la universidad proporcionar una educación holística?.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-10">
      <Divider />
      <p class="text-lg leading-relaxed text-slate-600">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, nobis
        porro debitis quis non, libero ducimus eligendi perferendis fuga
        exercitationem dolores, tenetur voluptatum ratione blanditiis qui magnam
        laboriosam quos obcaecati nulla? Quo enim veniam hic eveniet ratione,
        consequatur eius corporis minus. Unde, quam suscipit. Illum quo facere
        soluta nostrum laborum.
      </p>
    </div>
  </Container>
</Layout>
