---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Divider from "@components/ui/divider.astro";
---

<Layout title="Educación">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Educación</Fragment>
      <Fragment slot="desc">
        ¿Como puede la universidad proporcionar una educación holística?
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-screen-xl mt-10 space-y-7">
      <Divider />

      <p class="text-lg leading-relaxed text-slate-600 text-justify">
        La universidad puede propiciar una educación holística apoyando la
        formación integral, donde se fomenten las competencias sociales y
        profesionales, teniendo en cuenta el instinto, el intelecto y las
        emociones, para así lograr agudizar la sensibilidad, el equilibrio, la
        integridad, la tolerancia y responsabilidad social.
        <br />
        Según la Unesco, la educación consiste en saber ser, saber conocer, saber
        hacer y saber convivir <strong>(Delors, 1998).</strong> La universidad debe
        reforzar la capacidad humana de dejar el egocentrismo y poder realmente percibir
        a los demás, se necesita educar el yo, el sentimiento de humanidad. Dejando
        a un lado la educación tradicional, la enseñanza debe estar centrada en la
        sensibilidad, la inteligencia y la trascendencia <strong
          >(Wilber, 2000)</strong
        >.
      </p>

      <Divider />

      <div class="flex flex-col">
        <h2 class="font-bold text-2xl text-gray-700 text-center mb-5">
          Educación liberal
        </h2>
        <p class="text-lg leading-relaxed text-slate-600 text-center mb-10">
          Te invitamos a ver que piensa Fareed Zakaria un escritor y periodista
          indo-estadounidense, especializado en temas de relaciones
          internacionales acerca de la educación y porque esta deberia tener un
          enfoque liberal.
        </p>

        <div class="w-full flex justify-center">
          <iframe
            class="aspect-video w-full"
            src="https://www.youtube.com/embed/m8XEqJV-LII"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </Container>
</Layout>
