---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Divider from "@components/ui/divider.astro";
---

<Layout title="Misión">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Misión</Fragment>
      <Fragment slot="desc">Misión de la universidad</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-screen-xl mt-10 space-y-7">
      <Divider />
      <p class="text-lg leading-relaxed text-slate-600 text-justify">
        La universidad busca aterrizar desde un inicio a sus estudiantes en un
        contexto social y humano, fomentando unos valores socio-humanísticos
        específicos, que los lleven a ser buenos ciudadanos y profesionales.
        Busca enseñarles en tres ámbitos: el ser, saber y hacer, con valores
        éticos, estéticos y lógicos, manejando así la razón, los sentimientos,
        la voluntad y lo corpóreo. De tal forma que se fortalezca lo afectivo
        valorándose a sí mismo y a los que lo rodean, lo corporal que desarrolla
        lo físico-sensible y lo cognitivo que lleva al enriquecimiento
        intelectual, para llegar al objetivo final que es el desarrollo humano
        integral. Todo lo anterior se hace sin dejar a un lado la enseñanza de
        las ciencias y del conocimiento específico que desee adquirir cada
        persona al ingresar a la universidad.
      </p>

      <Divider />

      <div class="flex flex-col space-y-3">
        <h2 class="font-bold text-2xl text-gray-700 text-center">
          La Docencia, la Investigación y la Extensión
        </h2>
        <p class="text-lg leading-relaxed text-slate-600 text-justify">
          En el trabajo académico de la educación superior <span
            class="text-orange-600"
            >la docencia, la investigación y la extensión</span
          >, son fundamentales y deben estar relacionados entre sí. Se deben
          vincular la universidad, la comunidad y la realidad social. Desde la
          docencia se transmite información y se fomenta el espíritu
          investigativo en los estudiantes, se debe extender lo aprendido por
          medio de la investigación para ampliar los conocimientos y la
          información adquirida.
        </p>
      </div>

      <Divider />

      <div class="flex flex-col">
        <h2 class="font-bold text-2xl text-gray-700 text-center mb-5">
          El sentido Humano y Social de la Universidad
        </h2>
        <p class="text-lg leading-relaxed text-slate-600 text-center mb-10">
          Mira lo que dice Fernando Savater en su conferencia "El sentido Humano
          y Social de la Universidad" impartida por el escritor y filósofo
          Fernando Savater, con motivo del 50 aniversario de la Universidad
          Autónoma de Baja California, UABC. Mexicali, Baja California, 5 de
          noviembre de 2007.
        </p>

        <div class="w-full flex justify-center">
          <iframe
            class="aspect-video w-full"
            src="https://www.youtube.com/embed/cRVEoO1su4Y"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </Container>
</Layout>
