---
import List from "./ui/list.vue";
import { features } from "@content/_listContent";
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Lorem ipsum dolor sit amet consectetur.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In, aut.
  </p>
</div>

<List arrayToDisplay={features} />
